<div class="navbar navbar-inverse navbar-fixed-bottom nav_bottom" style="width:100%;height: 30px">
    <div class="container">
        <p class="navbar-text pull-left">® Sharine - Site d'échanges et partage.</p>

        {#<p class="navbar-text pull-right"><span class=" glyphicon glyphicon-phone-alt"> Pour plus d'information, veuillez contacter : (00 33) 6 35 78</span>#}
        {#</p>#}
    </div>
</div>